<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap" rel="stylesheet">
body{
  background: #85868a;
  font-family: "IBM Plex Mono", monospace;
}
b{
  font-size: 30pt;
} 
