body{
  background: #85868a;
  font-family: "IBM Plex Mono", monospace;
}
b{
  font-size: 30pt;
  font-family: "IBM Plex Mono", monospace;
} 
.addition-btn {
  background: #000000;
  color: red;
  padding: 10px 20px;
  border-radius: 8px;
  border-color: #ff0000;
  font-size: 16px;
  cursor: pointer;
}
.options-btn {
  background: #eeeeee;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  border-color: #000000;
  font-size: 16px;
  cursor: pointer;
}
.reset-btn {
  background: #ff0000;
  color: white);
  padding: 10px 20px;
  border-radius: 8px;
  border-color: #800000;
  font-size: 16px;
  cursor: pointer;
}
.saveoptions-btns {
  background: #ffffff;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  border-color: #000000;
  font-size: 16px;
  cursor: pointer;
}
.addition_subtabs-btn {
  background: #000000;
  color: red;
  padding: 8px 16px;
  border-radius: 6.4px;
  border-color: #ff0000;
  font-size: 12.8px;
  cursor: pointer;
}
.max_all-btn {
  background: #ffffff;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  border-color: #00ff00;
  font-size: 16px;
  cursor: pointer;
}
.max_all-btn:hover {
  background: #ffffff;
  color: black;
}
.apr1-btn {
  background: #ffffff;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  border-color: #00ff00;
  font-size: 16px;
  cursor: pointer;
}
.apr1-btn:hover {
  background: #ffffff;
  color: black;
}
.apr2-btn {
  background: #ffffff;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  border-color: #00ff00;
  font-size: 16px;
  cursor: pointer;
}

.apr2-btn:hover {
  background: #ffffff;
  color: black;
}
.tickspeed-btn {
  background: #ffffff;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  border-color: #00ff00;
  font-size: 16px;
  cursor: pointer;
}
.tickspeed-btn:hover {
  background: #ffffff;
  color: black;
}
.apr3-btn {
  background: #ffffff;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  border-color: #00ff00;
  font-size: 16px;
  cursor: pointer;
}

.apr3-btn:hover {
  background: #ffffff;
  color: black;
}
.apr4-btn {
  background: #ffffff;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  border-color: #00ff00;
  font-size: 16px;
  cursor: pointer;
}

.apr4-btn:hover {
  background: #ffffff;
  color: black;
}
.apr5-btn {
  background: #ffffff;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  border-color: #00ff00;
  font-size: 16px;
  cursor: pointer;
}

.apr5-btn:hover {
  background: #ffffff;
  color: black;
}
.apr6-btn {
  background: #ffffff;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  border-color: #00ff00;
  font-size: 16px;
  cursor: pointer;
}

.apr6-btn:hover {
  background: #ffffff;
  color: black;
}
.apr7-btn {
  background: #ffffff;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  border-color: #00ff00;
  font-size: 16px;
  cursor: pointer;
}

.apr7-btn:hover {
  background: #ffffff;
  color: black;
}
.apr8-btn {
  background: #ffffff;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  border-color: #00ff00;
  font-size: 16px;
  cursor: pointer;
}

.apr8-btn:hover {
  background: #ffffff;
  color: black;
}
