body{
  background: #85868a;
  font-family: "IBM Plex Mono", monospace;
}
b{
  font-size: 30pt;
  font-family: "IBM Plex Mono", monospace;
} 
.fancy-btn {
  background: #ffffff;
  color: black;
  padding: 10px 20px;
  border: #00ff00;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.fancy-btn:hover {
  background: #00ff00;
  color: black;
}
